*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Header CSS */
.navbar-top{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    gap:5px;
    background-color: rgb(29, 29, 88);
    
}
.navbar-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    background-color: rgb(12, 12, 39);
    height: fit-content;
    padding: 11px;
}
.left-items{
    padding: 1%;
    /* border: 1px solid crimson; */
    color:aliceblue;
    font-size: 9px;
}

.navbar-top .right-items{
    /* display: inline; */
    margin-left: auto;
    padding: 1%;
    /* background-color: green; */
    /* border: 1px solid crimson; */
    color:aliceblue;
    font-size: 10px;
}
.right-items ~ .right-items{
    margin-left: 0;
}
.navbar-bottom .left-items{
    padding: 1px;
}
.navbar-bottom .right-items{
    /* display: inline; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    padding: 1%;
    /* background-color: green; */
    color:aliceblue;
    font-size: 10px;
}
.navbar-bottom .right-items ~ .right-items{
    margin-left: 0;
    padding: 1px;
}
.logo{
    font-size: 20px;
    color: whitesmoke;
    font-weight: bolder;
    width: fit-content;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#rightlogoimg{
    height: 30px;
    width: 30px;
}
.dot{
    color: crimson;   
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}
input::placeholder{
    text-align: center;
    
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: auto;
    gap: 1px;
    height: 100%;
    padding:10px;
    margin-right: auto;
    font-size: 8px;
    width: fit-content;
    overflow: hidden;        

}
.searchbox{
    
}
.dropdown{
    /* margin-left: 100px; */
    font-size: 8px;
    background-color: rgb(228, 228, 228);
    width: 100px;
    height: 100%;
    padding: 10px;
}
.search-button{
    height:32px;
    width: 60px;
    padding: 10px;
    font-size: 10px;
    background: crimson;
    color: whitesmoke;
    border: 1px solid transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: center;
}

.search-button:hover{
    height:32px;
    width: 60px;
    padding: 10px;
    font-size: 10px;
    transition: .4s;
    background: rgb(45, 21, 117);
    color: whitesmoke;
    border: 1px solid transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: center;
}

.navbaricons{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbaricons span:hover{

    transition: .3s;
    border-bottom: 1px solid crimson;
}

.navbaricons img{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -43px;
}
.navbaricons img:hover{
    transition: .4s;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
    border-radius: 8px;
}
.navbar-second{
    border-top: 2px solid crimson;
}
.links{
    padding:10px;   
    font-size: 12px;
    text-align: left;
    color: #000000;
    border: 1px solid rgb(233, 230, 230);
}
.navlinks{
    background-color: ghostwhite;
}
a{
    text-decoration: none;
    color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
}
a:hover{
    text-decoration: none;
    transition: .5s;
    border-bottom: 2px solid crimson ;
    color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
}

/* Main section CSS */
.hero-card{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: auto; */
    margin-top: 20px;
    /* margin-left: -100px; */
}

.hero-card img{
    height: 210px;    
    width: 300px;
    margin-left: 25px;
    
}

.category-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(14, 14, 52);
    margin-left: 35px;  
}

.hero-categories{   
    display: flex;
    margin-top: 50px;
    height: fit-content;
    margin-right: 50px;
}

.hero-links{   
    margin-left: auto;
    padding:10px;   
    font-size: 12px;
    text-align: left;
    height: fit-content;
    font-weight: bold;   
}
.hero-img2{
    border: 1px solid orange;
    height: 380px;
    weight:100px;
}
.hero-img2 img{
    height: 100%;
    width: 100%;
}
.prod-card{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 20px;
}
.card-container{
    
    border: 1px solid rgb(220, 220, 220);
    padding: 8px;
    height: fit-content;
    width: fit-content;
}

.card-container .card-details{
    /* border: 1px solid black; */
    list-style-type: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.prod-card-img{  
    height:200px;
    width:100%;
    /* border: 1px solid orange; */
}

.prod-card-rating{
    height: 70px;
    width: 200px;
}
.demobuttons{
    display: flex;
    padding: 25px;
}
.top-prods{
    display: flex;
    gap: 30px;
    margin-left: 20px;
    margin-right: 10px;
}
.top-prod-container{
    padding: 15px;
    /* border: 1px solid red; */
    height: fit-content;
    width: 100%;
}

.top-selling-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    font-weight: bold;
    color: rgb(3, 3, 25);
    margin-bottom: 5px;
}
.buttons{
    margin-left: auto;
    padding: 1px;
}
button{
    padding: 4px;
    height: 25px;
    width: 20px;
    border: 1px solid rgb(241, 241, 241);
    color: #cbcbcb;
    border-radius: 100px;
    background-color: transparent;
}
.top-prod-card-img{
    height: 50px;
    width: 50px;
}

.item-container{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 4px;
    line-height: 15px;
    padding: 8px;
    margin-bottom: 8px;
}
.item-container ul{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    margin-left: 8px;
    
}

/* Newsletter CSS */
.newsletter{
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("img/newsletter.png");
}
#newsletter-icon{
    height: 80px;
    width: 80px;
}
.newstitle{
    /* border: 1px solid black; */
    text-align: center;
    padding: 10px;
}
.searchbar-news{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: auto;
    gap: 1px;
    height: fit-content;
    padding:10px;
    margin-right: auto;
    font-size: 8px;
    width: fit-content;
    overflow: hidden;        
    /* border: 1px solid green; */
}
.searchbar-news input::placeholder{
    text-align: left;
}

.searchbar-news input[type="text"]{
    border: 1px solid rgb(225, 225, 225);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}


.search-button-news{
    height:32px;
    width: 110px;
    padding: 10px;
    font-size: 10px;
    background: crimson;
    color: whitesmoke;
    border: 1px solid transparent;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    align-items: center;
    justify-content: center;
}

.icon-container{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.social-icon{
    border: 1px solid rgb(238, 238, 238);
    height: 30px;
    width: 30px;
    padding: 7px;
}

/* Footer CSS */
.footer{
    display: flex;
    gap: 60px;
    background-color: rgb(2, 2, 30);
    border: 1px solid black;
    padding: 10px;
}
.footer-sections{
    width: max-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    /* border: 1px solid red; */
}

.footer-section-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: whitesmoke;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1px;
    gap: 5px;
}
span .footer-section-icon{
    margin-bottom: auto;
    height: 12px;
    width: 12px;
    margin-top: 2px;
}